@(message: String)

<!DOCTYPE html>

<html>
    <head>
        <title>PDF Sample</title>
        <link rel="stylesheet" href="/public/stylesheets/pdf.css"/>
    </head>
    <body>
	    Local image: <img src="/public/images/favicon.png"/><br/>
	    Remote image: <img src="http://www.joergviola.de/images/logo.png"/><br/>
	    Hello world! <br/>
	    @message <br/>
	    <div class="blue">
	    	This is blue text
	    </div>
		<table border="1">
			<tr>
				<td>1</td>
				<td>2</td>
			</tr>
			<tr>
				<td>3</td>
				<td>4</td>
			</tr>
		</table>
    </body>
</html>
